body{
    background-color: #F5F8FF;
}
    /** 1ST SECTION **/
nav{
    background-image: url(Assets/Hero-bg.png);
}
.nav-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}
.logo-text{
    color: #4E47FF;
    font-weight: bold;
    font-size: 38px;
    font-family: "Inter"
}
.btn-colour{
    background-color: #4E47FF;
    color: #FFFFFF;
}
.btn{
    width: 140px;
    height: 50px;
    padding: 3px 12px;
    border-radius: 10px;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn:hover{
    background-color: yellow;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

    /** 2ND SECTION **/
.second-title{
    text-align: center;
    margin-top: 158px;

}
.st-text{
    font-family: "Raleway";
    font-weight: bold;
    font-size: 65px;
    color: #252432;
}
.btn-second{
    width: 180px;
    height: 50px;
    border-radius: 10px;
    margin-top: 37px;
    margin-bottom: 200px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-second:hover{
    background-color: yellow;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.title-second{
    margin-top: 180px;
    margin-bottom: 180px;
    display: flex;
    justify-content: space-around;
}

.nd-text{
    color: #252432;
    font-size: 42px;
    font-weight: bold;
    font-family: "Raleway";
}
.nd-p-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 24px;
    font-family: "Raleway";
}

.btn-third{
    width: 229px;
    height: 48px;
    border-radius: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-third:hover{
    background-color: yellow;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-title{
    border-radius: 48px;
}

    /** 3RD SECTION**/
.title-third{
    text-align: center;
    background-color: rgba(78, 71, 255, 0.1);
    margin: 0px 306px;
    border-radius: 30px;
}

.blue-text{
    display: flex;
    justify-content: center;
    gap: 158px;
}

.card{
    padding: 80px 50px;
}
.rd-text{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    font-family: "Raleway";
}
.rd-p-text{
    color: rgba(0, 0, 0, 0.5);
    font-size: 20px;
    margin-top: -45px;
    font-family: "Inter";
}

.clr-blue{
    color: #4E47FF;
    font-weight: bold;
    font-size: 80px;
    font-family:"Inter" ;
}

    /**4TH SECTION**/
.title-four{
    margin-top: 200px;
}
.box-container{
    display: flex;
    border: 0px solid #F2EDED ;
    gap: 20px;
    justify-content: center;
    margin-top: 50px;
}
.card-container{
    width: 366px;
    height: 243px;
    padding: 24px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
}
.h-four{
    text-align: center;
    color: #252432;
    font-weight: bold;
    font-size: 42px;
    font-family: "Raleway";
}
.txt-size{
    font-family: "Raleway";
    margin-top: 40px;
}
.img-section{
    display: flex;
    gap: 12px;
    margin-top: 40px;
    align-items: center;
}
.iimg{
    width: 40px;
    height: 40px;
    border-radius: 200px;
}
.styles{
    color: #757575;
    font-size: 22px;
    font-family: "inter";
}
.styles-p{
    color: #B3B3B3;
    margin-top: -20px;
}

    /**5TH SECTION**/
.text-five{
    font-family: "Raleway";
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.text-p-five{
    color: #757575;

}
.btn-five{
    width: 185px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-five:hover{
    background-color: yellow;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.img-five{
    width: 840px;
    height: 364px;
    border-radius: 48px;
    margin-top: 20px;
}
.title-five{
    text-align: center;
    margin: 200px 240px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 50px 51px;
}
    /**6TH SECTION**/
.title-six {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}

.sec-column{
    width: 50%;
    align-items: center;
    display: flex;
}

.title-six input[type="text"], .title-six input[type="email"], .title-six textarea {
    height: 64px;
    border-radius: 5px;
    background-color: #e0fafa;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-bottom: 24px;
    border: none;
}

.btn-six{
    padding: 15px 240px;
    width: 107%;
    border-radius: 10px;
    text-align: center;
    height: 54px;
    font-size: 18px;
    margin-bottom: 24px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-six:hover{
    background-color: yellow;
    color: #000000;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.section-title{
    color: #000000;
    font-weight: bold;
    font-size: 97px;
    font-family: "Raleway";

}
.ttext{
    font-family: "Inter";
    font-weight: medium;
    font-size: 18px;
}

    /**7TH SECTION**/
.text-seven{
    display: flex;
    gap: 50px;
}
.title-seven{
   justify-items: center;
   margin-bottom: 150px;
}
.txt-seven{
    font-size: 100px;
    font-family: "Inter";
    color: #4E47FF;
}
.txt-seven-p{
    color: #757575;
}
.text-seven{
    color: #757575;
}
.color-white{
    color: #8987A1;
}
